<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mushroom - Home</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='./img/favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='./css/output.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='./css/styles.css') }}">
  
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    function previewFile() {
      var preview = document.querySelector('#img');
      var file    = document.querySelector('input[type=file]').files[0];
      var reader  = new FileReader();
      reader.onloadend = function () {
        preview.src = reader.result;
      }

      if (file) {
        reader.readAsDataURL(file);
      } else {
        preview.src = "";
      }
    }
  </script>
</head>


<body class="bg-gray-100" >

  <nav
    class="flex flex-col sm:flex-row flex-wrap md:items-center px-4 md:px-5 lg:px-16 py-2 justify-between border-b border-gray-600 fixed top-0 z-20 w-full bg-slate-900">


    <div class="flex items-center justify-between sm:justify-around gap-x-2 text-white">

      <span class="py-1 flex items-center text-2xl">
        Mushroom Predictor
      </span>


      <button class="sm:hidden cursor-pointer flex flex-col justify-center gap-y-1" id="hamburger" aria-label="menu">
        <div class="w-6 h-1 rounded-lg bg-white bar duration-300"></div>
        <div class="w-4 h-1 rounded-lg bg-white bar duration-300"></div>
        <div class="w-6 h-1 rounded-lg bg-white bar duration-300"></div>
      </button>

    </div>


    <ul class="hidden sm:flex text-gray-400 justify-end items-center gap-x-7 gap-y-5 tracking-wide mt-5 sm:mt-0"
      id="links">
      <li class="table-caption mb-5 sm:mb-0">
        Welcome {{session.username}}
        <a href="{{ url_for('logout') }}" class="active">Logout?</a>
      </li>

    </ul>

  </nav>

 <main>

    <section class="text-center py-32" style="padding-bottom: 0px;">
      <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl pb-7">Welcome to Mushroom Predictor</h1>
      {% if msg and msg.error : %}
      <div class="bg-red-100 rounded-lg py-5 px-6 mb-4 text-base text-red-700 mb-3" role="alert">
        {{ msg.error }}
      </div>
      {% endif %}
      <h2 class="text-gray-600 mb-3" style="font-size: 20px;">Upload a mushroom image to predict its type</h2>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <br><br>
        <div class="flex justify-center">
            <div class="mb-3 w-96">
                <label for="formFile" class="form-label inline-block mb-2 text-gray-700">Mushroom Image</label>
                <input class="form-control
                block
                w-full
                px-3
                py-1.5
                text-base
                font-normal
                text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" type="file" name="image" id="formFile" accept="image/*" onchange="previewFile()">
            </div>
        </div>
        <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" value="Predict!">
        <br><br>
      </form>
    </section>
    <section class="text-center py-2 grid">
      <img src="{{img}}" id="img" class="w-3/4 justify-self-center" style="width: 600px; height: 300px; border-radius: 2%;">
      {% if msg and msg.mushroom : %}
      <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl pb-1">That was a {{ msg.mushroom[0] }} Mushroom!</h1>
      <h1 style="font-size: 50px; color: red" id="txt">{{msg.mushroom[1]}}</h1>
      <br>
      {% endif %}
    </section>


  


  </main>


  <script src="{{ url_for('static', filename='./js/navbar.js') }}"></script>
</body>

</html>

