<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mushroom - Login</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='./img/favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='./css/output.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='./css/styles.css') }}">
  <script src="https://cdn.tailwindcss.com"></script>
</head>


<body class="bg-gray-100">

  <nav
    class="flex flex-col sm:flex-row flex-wrap md:items-center px-4 md:px-5 lg:px-16 py-2 justify-between border-b border-gray-600 fixed top-0 z-20 w-full bg-slate-900">


    <div class="flex items-center justify-between sm:justify-around gap-x-2 text-white">

      <span class="py-1 flex items-center text-2xl">
        Mushroom Predictor
      </span>

    </div>


  </nav>

  <main class="w-screen grid place-items-center">
    <div class="w-full max-w-xs grid place-items-center mt-5">
      <span class="py-1 flex items-center text-2xl">
        Login To Continue
      </span>
    </div>
    <div class="w-full max-w-xs grid place-items-center mt-5">
      {% if msg : %}
      <div class="bg-red-100 rounded-lg py-5 px-6 mb-4 text-base text-red-700 mb-3" role="alert">
        {{ msg }}
      </div>
      {% endif %}
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="{{ url_for('login') }}" method="post">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
            Username
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" name="username" type="text" placeholder="Username">
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
            Password
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" name="password" type="password" placeholder="******************">
        </div>
        <div class="flex items-center justify-between">
          <input type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"  value="Sign In"></br></br>
          <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="{{url_for('register')}}">
            Register?
          </a>
        </div>
      </form>
    </div>



  <script src="{{ url_for('static', filename='./js/navbar.js') }}"></script>
</body>

</html>